.spinner {
  animation-name: spin;
  animation-duration: 15s;
  animation-timing-function: linear;  /* linear, ease, ease-in, ease-out, ease-in-out */
  animation-iteration-count: infinite;
}
@keyframes spin {
  to { -gtk-icon-transform: rotate(1turn); }
}

/* Customizable section below */

/* Main Object Types */
window {}
box {}
treeview {}
scrolledwindow {}
viewport {}
button {}
combobox {}
spinbutton {}
checkbutton {}
entry {}
label {}
filechooserbutton {}

/* Individual Objects */
box#box_Buttons {}
box#box_Folder_Selecter {}
box#box_Main {}
box#box_Option {}
box#box_Options_and_Buttons {}
box#box_Options {}
box#box_Output_Types {}
box#box_Output {}
button#button_About {}
button#button_Process {}
button#button_Refresh {}
checkbutton#button_Multi {}
combobox#combo_Option {}
entry#entry_Folder_path {}
label#label_Option {}
label#label_Output_Type {}
#radio_Commands {}
#radio_Execute {}
window#main_Window {}
treeview#treeview_Data_Grid {}
scrolledwindow#scrollwindow_Data_Grid {}
filechooserbutton#filechooser_Folder_Selecter {}
